{% load shp_dict %}


<div class="menu closed" id="menu_extract_shp_table">
  <button class="close">close</button>
<h2>Extract Vector Table to text file.</h2>
      <h3>This tool can extracts Shapefile attribute table to text file.</h3>
      <div class="container">
	<h2><small>1- Select from current vector data:</small></h2>
	{% for each in shps_info %}
	<div class="radio">
	<input type="radio" name="optionsRadios" id="current_vector" value="{{ each|layer_name }}">
	<p>{{ each|file_name }}</p>
      </div>
      {% endfor %}
      
      <h2><small>3- Enter text file name:</small></h2>
      
      <div class="input-group">
      <input class="form-control" id="text_name" type="text" placeholder="Enter file name" value="">
    </div>

  <button type="button" class="btn btn-primary btn-lg" onclick="extract_table()">Extract table</button>
      <p id='extract_shp_status'></p>
    </div>
</div>


<script>
  function extract_table() {
    document.getElementById('extract_shp_status').innerHTML = 'Processing...';
    var selected_vector = $('input[name="optionsRadios"]:checked').val();
    var text_name = $('#text_name').val();
    Dajaxice.giscube_app.extract_shp_table_text('',{'selected_vector': selected_vector, 'text_name':text_name});
    document.getElementById('extract_shp_status').innerHTML = 'Done.';
  }
</script>
