{% include 'header.html' %}

<!-- /row -->
<!-- /left-nav-stack-bar -->
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="resource">Data Resource</a></li>
      <li><a href="information">Data Information</a></li>
      <li><a href="visualiser">Data Visualiser</a></li>
      <li class="active"><a href="tools">GeoSpatial Tools</a></li>
    </ul>
  </div>
<!-- left-nav-stack-bar/ -->
<div class="container">
<h1><small>Vector Tools:</small></h1>
<hr>
<div class="col-md-3 col-md-offset-1">
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Vector to Shapefile</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Vector to Raster</button>
  <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#vector_to_kml">Vector to KML</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Vector to GeoJSON</button>
</div>
<div class="col-md-3">
  <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#re_project_vector">Re-Project Vector</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Extract Vector Table</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
</div>
<div class="col-md-3">
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled" >-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
</div>
</div>

<div class="container">
<h1><small>Raster Tools:</small></h1>
<hr>
<div class="col-md-3 col-md-offset-1">
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Raster to Vector</button>
  <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#raster_to_kml">Raster to KML</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Raster to GeoJSON</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">Raster to netCDF</button>
</div>
<div class="col-md-3">
  <button type="button" class="btn btn-default btn-lg btn-block" >Re-Project Raster</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled" >Extract Raster Table</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
</div>
<div class="col-md-3">
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
  <button type="button" class="btn btn-default btn-lg btn-block" disabled="disabled">-</button>
</div>
</div>

</div>
<!-- row/ -->


{% include '/tools/re_project_vector.html' %}
{% include '/tools/vector_to_kml.html' %}
{% include '/tools/raster_to_kml.html' %}


{% include 'footer.html' %}
