
<!-- vector tools-->
{% include '/tools/re_project_shapefile.html' %}
{% include '/tools/extract_shp_table.html' %}
{% include '/tools/shp_to_kml.html' %}

<!-- raster tools-->
{% include '/tools/re_project_geotiff.html' %}
{% include '/tools/clip_geotiff_by_shp.html' %}

<!-- netCDF tools-->
{% include '/tools/netcdf_to_geotiff.html' %}
{% include '/tools/netcdf_to_geojson.html' %}
{% include '/tools/ncdump_header.html' %}
{% include '/tools/ncdump_whole_netcdf.html' %}

{% include 'header.html' %}

<!-- /row -->
<!-- /left-nav-stack-bar -->
<div class="row">
  <div class="col-md-2" id="side_menu">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="resource">Data Resource</a></li>
      <li><a href="information">Data Information</a></li>
      <li><a href="visualiser">Data Visualiser</a></li>
      <li class="active"><a href="tools">GeoSpatial Tools</a></li>
    </ul>
  </div>

<div id="toggle"> </div>

<!-- left-nav-stack-bar/ -->
<div class="container col-md-10">
<h1><small>Vector Tools:</small></h1>
<hr>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" id="reproject_shapefile"><small>Re-Project Shapefile</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" id="extract_shp_table"><small>Shapefile table to text</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" id="shp_to_kml"><small>Shapefile to KML</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg" disabled="disabled"><small>Shapefile to Raster</small></button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>Shapefile to GeoJSON</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
</div>
</div>

<div class="container col-md-10">
<h1><small>Raster Tools:</small></h1>
<hr>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" id="reproject_geotiff"><small>Re-Project GeoTIFF</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" id="clip_geotiff_by_shp"><small>Clip GeoTIFF</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>GeoTIFF to KML</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>GeoTIFF to GeoJSON</small></button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>GeoTIFF to netCDF</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>GeoTIFF Table to text</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
</div>
</div>

<div class="container col-md-10">
<h1><small>netCDF Tools:</small></h1>
<hr>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>netCDF to Point Shapefile</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" id="netcdf_to_geotiff"><small>netCDF to GeoTIFF</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" id="netcdf_to_geojson"><small>netCDF to GeoJSON</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>netCDF to CSV</small></button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" id="ncdump_dump_to_text"><small>netCDF dump to text</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" id="ncdump_header_to_text"><small>netCDF header to text</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
  <button type="button" class="btn btn-default btn-block btn-lg open" disabled="disabled"><small>-</small></button>
</div>
</div>

</div>
<!-- row/ -->



<script>
$(".open").click(function() {
  var id = $(this).attr('id');
  $("#menu_"+id).toggleClass("closed");
  $("#toggle").toggleClass("closed");
});

$(".close").click(function(){
  $(".menu").addClass("closed");
  $("#toggle").toggleClass("closed");
  });
</script>

{% include 'footer.html' %}