{% load shp_dict %}


<div class="menu closed" id="menu_reproject_vector">
  <button class="close">close</button>
<h2>Re-Project Vector</h2>
      <h3>This tool re-projects and creates new vector data.</h3>
      <div class="container">
	<h2><small>1- Select from current vector data:</small></h2>
	{% for each in shps_info %}
	<div class="radio">
	<input type="radio" name="optionsRadios" id="current_vector" value="{{ each|layer_name }}">
	<p>{{ each|file_name }}</p>
      </div>
      {% endfor %}
      
      <h2><small>2- Select projection (<a href="http://en.wikipedia.org/wiki/List_of_map_projections" target="_blank">more info</a>):</small></h2>

    <select class="form-control" id="projection">
      <option value="4326" >WGS_84</option>
      <option value="2024">NAD27</option>
      <option value="2035">NAD83</option>
    </select>

      <h2><small>3- Enter name for projecting file:</small></h2>
      
      <div class="input-group">
      <input class="form-control" id="focusedInput" type="text" placeholder="Enter name" value="">
    </div>

  <h2><small>4- Re-project vector data:</small></h2>
  <button type="button" class="btn btn-primary btn-lg" onclick="re_project()">Re-Project</button>
      <p id='reproject_vector_status'></p>
      </div>
</div>

{% load re-project %}
<script>
  function re_project() {
    document.getElementById('reproject_vector_status').innerHTML = 'Processing...';
    var selected_vector = $('input[name="optionsRadios"]:checked').val();
    var selected_proj = $("#projection").val();
    var vector_name = $('#focusedInput').val();
    Dajaxice.giscube_app.reproject_vector('',{'selected_vector': selected_vector, 'selected_proj':selected_proj, 'vector_name':vector_name});
    document.getElementById('reproject_vector_status').innerHTML = 'Done.';
  }
</script>
