
<!-- Modal -->
<div class="modal fade" id="vector_to_kml" tabindex="-1" role="dialog" aria-labelledby="vector_to_kml_lable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="vector_to_kml_lable">Convert Vector to KML</h4>
      </div>
      <div class="modal-body">
      <p>This tool convert vector data to KML file format.</p>
      <div class="container">
	<h2><small>KML file has been already created for all vector files.</small></h2>
	<h2><small>Please check the "Data Resource" section to access KML files.</small></h2>

      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->