body{width: 99%; padding-top: 3px; padding-bottom: 3px;}
#logo{box-shadow: 3px 0px 4px #939393; width: 100%; height:10%;}
#map-container{max-width: none; height: 100%;}
#map{box-shadow: 0px 0px 5px 4px #939393; width: 100%; height: 90%; margin-top: 10px;}
#side_menu{background: #2f2f2f; height: 100%; box-shadow: 3px 0px 4px #939393; position: fixed; margin-top: 5.5%;}
#github{width: 2%; position:fixed; bottom:0;}
#uploaded_files{border-left: 1px groove #c4c2c5; height: 100%;}
.red{color: #ff0600; opacity: 1;}
.right{float: right}
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    cursor:pointer;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border:1px solid #999;
    border-radius:0px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
#tools_title{font-size: 30px; color: #31a467; font-weight: 100;}
#tools_subtitle{font-size: 20px; color: #b6af32; font-weight: 100;}
#tool_title{font-size: 15px; color: #4f4d50; font-weight: 200;}