{% include 'header.html' %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/ol.css" %}" rel="stylesheet" />
<script src="{% static "js/ol.js" %}"></script>

  
<!-- Map Settings/-->

<!-- /left-nav-stack-bar -->
<div class="row">
  <div class="col-md-2">
    <img id="logo" src="{% static "img/logo_beta.png" %}">
  </div>
  <div class="col-md-2" id="side_menu">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="resource">Data Resource<span class="glyphicon glyphicon-inbox right"></span></a></li>
      <li><a href="information">Data Information<span class="glyphicon glyphicon-info-sign right"></span></a></li>
      <li class="active"><a href="visualiser">Data Visualiser<span class="glyphicon glyphicon-globe right"></span></a></li>
      <li><a href="tools">GeoSpatial Tools<span class="glyphicon glyphicon-cog right"></span></a></li>
      <a href="https://github.com/MBoustani/GISCube" target="_blank"><img id="github" src="{% static "img/github.png" %}"></a>
    </ul>
  </div>
<!-- left-nav-stack-bar/ -->


<div class="col-md-3">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#vectorData" data-toggle="tab">Vector Data</a></li>
    <li><a href="#rasterData" data-toggle="tab">Raster Data</a></li>
    <li><a href="#netcdfData" data-toggle="tab">netCDF Data</a></li>
  </ul>

   <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="vectorData">
      {% for json in jsons %}
        <div class="checkbox">
          <label>
            <input type="checkbox" value={{ json }} id="{{ json }}" onchange="add_remove_layer({{ json }}, '{{ json }}', 'json')"> 
            {{ json }}
          </label>
        </div>
      {% endfor %}
    </div>
    <div class="tab-pane fade in" id="rasterData">
      {% for geotif in geotifs %}
        <div class="checkbox">
          <label>
            <input type="checkbox" value={{ geotif }} id="{{ geotif }}" onchange="add_remove_layer({{ geotif }}, '{{ geotif }}', 'geotiff')"> 
            {{ geotif }}
          </label>
        </div>
      {% endfor %}
    </div>
    <div class="tab-pane fade in" id="netcdfData">
      <h3>1- Go to "GeoSpatial tools" page</h3>
      <h3>2- Convert netCDF to GeoTIFF</h3>
      <h3>3- Come back to "Data Visualiser page"</h3>
      <h3>4- Visualize the GeoTIIF"</h3>
    </div>
   </div>
</div>


<!-- /Map box -->
    <div class="col-md-7" style="height: 100%">
    <div class="container" id="map-container">
      <a id="export-png" class="btn btn-success" download="map.png">Export map (current view)</a>
    <div class="map-container" id="map"></div>
    </div>
  </div>
</div>
<!-- Map box/ -->

<script type="text/javascript">

  var pointStyle = new ol.style.Circle({
  radius: 2,
  stroke: new ol.style.Stroke({color: 'red', width: 1})
  });

var styles = {
  'Point': [new ol.style.Style({
    image: pointStyle
  })],
  'LineString': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'blue',
      width: 1
    })
  })],
  'MultiLineString': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'blue',
      width: 1
    })
  })],
  'MultiPoint': [new ol.style.Style({
    image: pointStyle
  })],
  'MultiPolygon': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'yellow',
      width: 1
    }),
    fill: new ol.style.Fill({
      color: 'rgba(255, 255, 0, 0.1)'
    })
  })],
  'Polygon': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'blue',
      lineDash: [4],
      width: 3
    }),
    fill: new ol.style.Fill({
      color: 'rgba(0, 0, 255, 0.1)'
    })
  })],
  'GeometryCollection': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'magenta',
      width: 2
    }),
    fill: new ol.style.Fill({
      color: 'magenta'
    }),
    image: new ol.style.Circle({
      radius: 10,
      fill: null,
      stroke: new ol.style.Stroke({
        color: 'magenta'
      })
    })
  })],
  'Circle': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'red',
      width: 2
    }),
    fill: new ol.style.Fill({
      color: 'rgba(255,0,0,0.2)'
    })
  })]
};

  var styleFunction = function(feature, resolution) {
  return styles[feature.getGeometry().getType()];
};

  {% for json in jsons %}
  var {{ json }} = new ol.layer.Vector({
          source: new ol.source.GeoJSON({
          projection: 'EPSG:3857',
          url: 'static/uploaded_files/{{ json }}.json'}),
          style: styleFunction
        });
  {% endfor %}

  {% for geotif in geotifs %}
  var {{ geotif }} = new ol.layer.Tile({
            source: new ol.source.OSM({
              url: 'static/uploaded_files/{{ geotif }}/{z}/{x}/{-y}.png'
            })
        });
  {% endfor %}

  var controls = [
    new ol.control.MousePosition({
        undefinedHTML: 'outside',
        projection: 'EPSG:4326',
        coordinateFormat: function(coordinate) {
            return ol.coordinate.format(coordinate, '{x}, {y}', 4);
        }
    }),
    new ol.control.ScaleLine(),
    new ol.control.FullScreen()
  ];

  var map = new ol.Map({
    target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.MapQuest({layer: 'osm'})
        }),
      ],
      view: new ol.View({
        center:  [-118, 57],//ol.proj.transform([-30, 37], 'EPSG:4326', 'EPSG:3857'),
        zoom: 2
      })
    });

  map.addControl(controls[0]);
  map.addControl(controls[1]);
  map.addControl(controls[2]);

  var select = new ol.interaction.Select();
  map.addInteraction(select);

  function add_remove_layer(layer, name, type) {
    if (document.getElementById(name).checked == true){
      map.addLayer(layer);
      if (type=='json') {
        extent = layer.getSource().getExtent();
        map.getView().fitExtent(extent, map.getSize());
      }else{
        extent = ''; //TODO: to get GeoTIFF actual bound here, maybe reading XML file from gdal2tile
      }
      //map.getView().fitExtent(extent, map.getSize());
    }else{
      map.removeLayer(layer);
    }
  }

var exportPNGElement = document.getElementById('export-png');

if ('download' in exportPNGElement) {
  exportPNGElement.addEventListener('click', function(e) {
    map.once('postcompose', function(event) {
      var canvas = event.context.canvas;
      exportPNGElement.href = canvas.toDataURL('image/png');
    });
    map.renderSync();
  }, false);
} else {
  var info = document.getElementById('no-download');
  /**
   * display error message
   */
  info.style.display = '';
}
</script>

{% include 'footer.html' %}
