{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>GISCube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- /CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/side_menu.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" rel="stylesheet" />
  <script src="{% static "js/OpenLayers.js" %}"></script>
<!-- CSS\ -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

<!-- /header -->
  <div class="page-header">
    <img src="{% static "img/logo.png" %}"  style="width: 15%; height:auto;"><br>
    <h3 style="font-size: 15px">GeoSpatial Data Manager, Visualiser and Manipulator</h3>
  </div>
<!-- header\ -->
