{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>GISCube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- /CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/side_menu.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" rel="stylesheet" />
<!-- CSS\ -->

<!-- /JS -->
  <script src="{% static "js/OpenLayers.js" %}"></script>
  <script src="{% static "js/jquery.min.js" %}"></script>
<!-- JS\ -->

</head>
<body>

