{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>GISCube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- /CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/jquery.fileupload-ui.css" %}" rel="stylesheet" />
  <script src="{% static "js/OpenLayers.js" %}"></script>
<!-- CSS\ -->

</head>
<body>

<!-- /header -->
  <div class="page-header">
    <img src="{% static "img/logo.png" %}"  style="width: 300px; height:auto;"><br>
    <h3>GeoSpatial Data (Manager + Visualiser + Manipulator)</h3>
  </div>
<!-- header\ -->
