{% include 'header.html' %}


<!-- /left-nav-stack-bar -->
<div class="row">
  <div class="col-md-2" id="side_menu">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/resource">Data Resource</a></li>
      <li><a href="/information">Data Information</a></li>
      <li><a href="/visualiser">Data Visualiser</a></li>
      <li><a href="/tools">GeoSpatial Tools</a></li>
    </ul>
  </div>
  <!-- left-nav-stack-bar/ -->

  <div class="col-md-4">
    <div class="alert alert-info"><p>Supported formats: Shapefile, GeoTIFF, GeoJSON and netCDF files.</p></div>
    <form action="{% url 'resource' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>
      <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
      </p>
      <p><button type="submit" value="Upload" class="btn btn-primary btn-lg">Submit</button></p>
      {% if notification %}
        <div class="alert alert-warning" role="alert"><b>Warning!</b><br>
        {{ notification }}
        </div>
      {% endif %}
    </form>
  </div>

  <div class="col-md-6" id="uploaded_files">
    <h3>Uploaded Files:</h3>
  {% if UPLODED_FILES %}
    <ul>
      {% for file in UPLODED_FILES %}
      <li>
        <a href=""><span class="glyphicon glyphicon-trash red" onclick="Dajaxice.giscube_app.remove_loaded_file('',{'param': '{{ file }}'});location.reload();"></span>&nbsp </a>
        <a href="/static/uploaded_files/{{ file }}">{{ file }}</a>
      </li><br>
      {% endfor %}
    </ul>
  {% else %}
      <h3><small>No documents.</small></h3>
  {% endif %}
</div>

{% include 'footer.html' %}
